
body
{
    background-color: #686868;


}

.box
{
    background-color: #999999;
    border-radius: 8%;
    padding: 20px;
    font-family: 'Yatra One', cursive;

}

.box h1
{

    font-size: 3em;

}