
* {
    margin: 0;
    padding: 0;

}

body {
    background-color: #686868;

}

.hero__wrapper {

    background-image: url("../img/7.jpg");
    position: absolute;
    height: 70%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero__wrapper h1 {

    position: relative;
    color: white;
    font-size: 5em;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    top: 25%;

    width: 100%;
}

.hero__button {
    background-color: white;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    top: 40%;
    display: block;
    padding: 1.5em 5em;
    opacity: 0.5;
}

@media screen and (max-width: 540px) {

    .hero__wrapper h1 {

        top: 15%;

    }

    .hero__button {

        top: 30%;

    }

}

.hero__button a {
    display: block;
    cursor: pointer;
    color: black;

}